<form method="GET">
  <div class="mt-2">
    <label for="exampleInputEmail1" class="form-label">Từ Khóa</label>
    <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="Nhập từ khóa...">
  </div>
  
  <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
  <div class="form-group">
    <label for="gender-input" >Từ Khóa</label>
    <select name="gender" class="from-control" id="gender-input">
        <option value="">-- Chọn giới tính --</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
    </select>
    </div>
</form>